" 设置中文帮助文档
set helplang=cn
" vim 的备份与交换文件
set undodir=$VIM/.undodir
set nobackup
set nu
set relativenumber

"默认最大化窗口打开
au GUIEnter * simalt ~x

" 语法高亮显示
syntax on

" 字体
set guifont=Monaco:h8
" 自动换行
set autoindent
set smartindent
set textwidth=70
set fo+=Mm
set wrap
"set fileformats=unix
"tab  4 whitespaces
set tabstop=4
set shiftwidth=4
" 开启手动的代码折叠
"------------------中文乱码----------------------------
set encoding=utf-8
set termencoding=utf-8
set fileencoding=utf-8
set fileencodings=ucs-bom,utf-8,chinese,cp936

if has("gui_running")
	au GUIEnter * simalt ~x " 窗口启动时自动最大化
	set guioptions-=m " 隐藏菜单栏
	set guioptions-=T " 隐藏工具栏
	set guioptions-=L " 隐藏左侧滚动条
	set guioptions-=r " 隐藏右侧滚动条
	set guioptions-=b " 隐藏底部滚动条
	set showtabline=0 " 隐藏Tab栏
endif
set list
set listchars=tab:▸\ ,trail:·,precedes:«,extends:»
