" 设置中文帮助文档
set helplang=cn
" vim 的备份与交换文件
set undodir=$VIM/.undodir
set nobackup
set nu
set relativenumber


" 语法高亮显示
syntax on

" 字体
set guifont=Monaco\ for\ Powerline:h12
" 自动换行
set autoindent
set smartindent
set fo+=Mm
set wrap
"set fileformats=unix
"tab  4 whitespaces
set tabstop=4
set shiftwidth=4
" 开启手动的代码折叠
"------------------中文乱码----------------------------
set encoding=utf-8
set termencoding=utf-8
set fileencoding=utf-8
set fileencodings=ucs-bom,utf-8,chinese,cp936

" no scroll bar
set guioptions-=l
set guioptions-=L
set guioptions-=r
set guioptions-=R


set list
set listchars=tab:▸\ ,trail:·,precedes:«,extends:»


" move among buffers with CTRL
map <C-J> :bnext <CR>
map <C-K> :bprev <CR>





"for  webpack 
set backupcopy=yes
